@import '../../static/variables.css';

.fav-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .fav-title {
    font-weight: bold;
    font-size: 2.5em;

    .fav-art {
      color: $blue;
    }
  }
}

.fav-description {
  margin: 2em 2em 2em 0;
}

.fav-groups {
  padding: 0;

  .year {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .fav-item {
    margin-left: 40px;
    position: relative;

    .heart {
      width: 1.5em;
      fill: $blue;
      position: absolute;
      left: -36px;
      top: 7px;
    }

    .cross {
      position: absolute;
      right: 36px;
      top: 7px;
      transform: scale(0);
      transition: all 0.3s ease;
    }

    &:hover {
      .cross {
        transform: scale(1);
      }

      @media (max-width: 768px) {
        .cross {
          display: none;
        }
      }
    }

    .film-name {
      color: $black;
    }

    .release-year {
      font-size: 0.8rem;
      color: $middlegrey;
    }

    &-wrapper {
      padding: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      border-radius: 5px;

      &--selected {
        background: linear-gradient(to right, $darkblue 0%, $white 100%);

        .film-name,
        .release-year {
          color: $white;
        }

        .heart {
          fill: $white;
        }
      }
    }
  }
}
