@import '../../static/variables.css';

.fav-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .fav-title {
    font-weight: bold;
    font-size: 2.5em;

    .fav-art {
      color: $blue;
    }
  }
}

.fav-description {
  margin: 2em 2em 2em 0;
}

.fav-groups {
  padding: 0;

  .year {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .fav-item {
    margin-left: 40px;
    position: relative;

    .heart {
      width: 1.5em;
      fill: $blue;
      position: absolute;
      left: -36px;
      top: 7px;
    }

    .miniButton {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 10px;
      transform: scale(0);
      transition: all 0.3s ease;
    }

    .cross {
      fill: $red;
      right: 2em;
    }

    .pencil {
      fill: $yellow;
      right: 4em;
    }

    &:hover {
      .miniButton {
        transform: scale(1);
      }

      @media (max-width: 768px) {
        .miniButton {
          display: none;
        }
      }
    }

    .film-name {
      color: $black;
    }

    .release-year {
      font-size: 0.8rem;
      color: $middlegrey;
    }

    &-wrapper {
      padding: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      border-radius: 5px;

      &--selected {
        background: linear-gradient(to right, $darkblue 0%, $white 100%);

        .film-name,
        .release-year {
          color: $white;
        }

        .heart {
          fill: $white;
        }
      }
    }
  }
}

.add-button {
  margin-top: 1em;
  border-radius: 10px;
  background-color: $lightblue;
  border: none;
  padding: 10px 15px;
  transition: all 0.5s;

  span {
    height: 100%;
    color: $blue;
    font-size: 0.8em;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

    &:after {      
      content: '»';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  }

  &:hover span {
    padding-right: 1em;

    &:after {
      opacity: 1;
      right: 0;
    }
  }
}
