@font-face {
    font-family: "Gotham Pro";
    src:
        local("Gotham Pro Light"),
        url("/fonts/GothamPro-Light.woff") format("woff");
    font-weight: 300; 
}

@font-face {
    font-family: "Gotham Pro";
    src:
        local("Gotham Pro"),
        url("/fonts/GothamPro.woff") format("woff");
    font-weight: 400; 
}

@font-face {
    font-family: "Gotham Pro";
    src:
        local("Gotham Pro Medium"),
        url("/fonts/GothamPro-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Gotham Pro";
    src:
        local("Gotham Pro Bold"),
        url("/fonts/GothamPro-Bold.woff") format("woff");
    font-weight: 700;
}

body {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
}
