@import './static/variables.css';

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-size: 18px;
}

li {
  list-style: none;
}

.page-header, 
.page-main, 
.page-footer {
    width: 100%;
}

.page-header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.page-main {
    margin: 7vh 6%;
    width: 88%;
}

.page-footer {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;

    .author {
      padding: 0.5em 1em;
      border-radius: 0.25em 0.25em 0 0;
      font-size: 0.9em;
      background-color: #2699FB;
      color: white;
    }
}

@media (max-width: 768px) {
    .details {
        display: none;
    }

    .favourites {
        width: 100%;
        margin: 0;
    }
}

